* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pill-nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 8px;
    color: black;
    font-size: 16px;
    border-radius: 4px;
}

.pill-nav a.active {
    background-color: dodgerblue;
    color: white;
}

.pill-nav a:hover:not(.active) {
    background-color: #ddd;
}