body {
    font-family: sans-serif;
}

.sidepanel {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    text-decoration: none;
    display: block;
    padding: 8px 8px 8px 32px;
    color: #818181;
    font-size: 25px;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}